.btn{
    border-radius: 100px;
    text-transform: uppercase;

    &-primary{
        color: $white;
        &:hover{
            background-color: darken($primary, 2);
            color: $white;
        }
    }
}