.owl-carousel{
    .owl-item{
        img{
            width: auto;
        }
    }
    .owl-dots{
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 4rem;
        button{
            width: .9rem;
            height: .9rem;
            border-radius: 50%;
            background-color: $dark;
            border: 1px solid $text-light;

            &.active{
                background-color: $primary;
            }
        }
    }

    .owl-nav{
        .owl-next,.owl-prev{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: grid;
            place-items: center;
            background-color: rgba($text-light, .8) !important;
            position: absolute;
            top: 45%;
            

            &:hover{
                background-color: $primary !important;
            }

        }


        .owl-next{
            right: -1rem;
        }
        .owl-prev{
            left: -1rem;
        }
    }
}